/* header related style */
body {
    font-family: 'Crimson Pro', serif;



}

main {
    max-width: 1320px;



}

.header {
    width: 1320px;
    height: 600px;
    margin-left: 150px;
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: 0%;

}

.header-title {
    color: rgb(245, 241, 241);
    font-size: 35px;

}


.categories {

    justify-content: center;
    text-align: center;
    padding-left: 150px;
}

.categories h2 {
    font-size: 30px;
}

.six-off {
    color: rgb(207, 16, 16);
    font-size: 50px;
}

.midnight-party {

    margin-top: 150px;
    margin-left: 150px;
    border-radius: 10px;
    background-image: url("../images/Vectorrr.png");
    background-repeat: no-repeat;

}

.party-title {
    text-align: left;
    margin-left: 120px;
    padding-top: 50px;
}

.party-title h1 {
    font-size: 100px;
    color: white;
}

.party-title h3 {
    font-size: 30px;
    color: white;

}

.primary-button {
    padding: 10px 15px;
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.join-us {
    padding: 130px;
    border-radius: 10px;
    background: #dbb1b1;
    margin-left: 150px;
    margin-top: 50px;
}

.join-us-title {
    text-align: center;
    margin-top: 50px;


}

.join-us-button {
    padding: 10px 15px;
    font-size: 30px;
    color: white;
    background-color: rgb(184, 13, 13);
    border-radius: 10px;
}

/* new best offer */
.new-best-offer {
    text-align: center;
    margin-top: 150px;
}

.best-offer {
    display: flex;
    padding-left: 150px;
}

.best-offer h3 {
    color: red;

}

.best-offer h1 {
    font-size: 30px;
}

.year-offer {
    color: rgb(238, 13, 13);
    font-size: 40px;
}

/* portfolio styles */
.Portfolio {
    width: 1320px;
    height: 600px;
    justify-content: center;
    padding-left: 150px;
    position: relative;


}

.Portfolio-title h4 {
    color: red;
}

.Portfolio-title h1 {
    font-size: 40px;
}

/* hover style */
.Portfolio-img-1:hover {
    transform: scale(1.2);

}

.Portfolio-img-2:hover {
    transform: scale(1.2);

}

.Portfolio-img-3:hover {
    transform: scale(1.2);

}

.Portfolio-img-4:hover {
    transform: scale(1.2);

}

.Portfolio-img-5:hover {
    transform: scale(1.2);

}

.Portfolio-img-6:hover {
    transform: scale(1.2);

}

/* Subscribe section style */
.Subscriber {
    padding: 120px 150px;
    border-radius: 10px;
    margin-top: 550px;
    margin-left: 150px;
    background-color: #dbb1b1;



}

.Subscriber-title {
    text-align: center;

}

.Subscriber-title h1 {
    font-size: 50px;
}

.subscribe-button {
    padding: 20px 50px;
    font-size: 25px;
    color: white;
    background-color: rgb(170, 21, 21);
    border-radius: 10px;


}

/* footer section styles */
.footer-info {
    width: 1140px;
    height: 400px;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 10px;
    background: black;

}

.footer-info-title {
    display: flex;
    color: white;
    justify-content: space-around;
    padding-top: 50px;
}

.info-sub-title {
    display: flex;
    align-items: center;
}

hr {
    width: 850px;
}

.footer-image {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.footer-unsubscribe {
    display: flex;
    justify-content: space-around;
    color: white;
}